/* General Body style */
*{
    font-family: 'Roboto', sans-serif;

}

/* Navbar styles */
.topnav {
    overflow: hidden;
    background-color: white;
    margin-top: 20px;
  }

  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  

.topnav a.split {
    float: right;
    background-color: white;
    color: gray;
  }



  /* All Your File in One Place styles */


  /* Stay Productive Style */


  /* Testimonial style */
  .testimonial{
    margin-bottom: 75px;
    margin-left: 40px;
  }
  .test-head{
    color: rgb(53, 212, 191);
    text-decoration: underline;
   font-weight: light;
   position: relative;
   bottom: 20px;
  
  }
  .test-head:hover{
    cursor:pointer;
  }
  .test{
    background-color:white;
    width: 300px;
    height: 200px;
    box-shadow: 1px 1px 1px 2px whitesmoke;
    
  }
  .tes-pg{
    padding: 5px;
    margin: 3px;
  }
  .test-pg{
    font-size: 13px;
    word-spacing: 3px;
    padding: 7px;
    line-height: 20px;
  }
  .tes-img{
    border-radius: 50%;
    height: 45px;
    position: relative;
    display: inline;
    left: 15px;
  }
  .test-img{
    position: relative;
    bottom: 45px;
    left: 70px;
    font-size: 12px;
  }
  .test-final{
    position: relative;
    bottom: 50px;
    padding: auto;
    left: 70px;
    font-size: 9px;
    font-weight: bold;
  }


  /* Footer style */
  .footer{
    background-color: #241449;
    color: white;
    padding: 50px 0;
  }

.footer-col1{
    margin-left: 15px; 
}

.footer-logo{
    text-decoration: none;
    color: white;
}
.footer-logo:hover{
    color: white;
  }

.ft-dv{
    margin-bottom: 30px;
}

.ft-col{
    
}

  .footer-img{
    
    margin-right: 10px;
  }

  .footer-h1{
    margin: 0;
    display: inline-block;
    font-size: 50px;
    position: relative;
    top: 10px;
  }

.footer-link{
    text-decoration: none;
    color: white;
    font-size: 10px;
    margin-bottom: 20px;
}
.footer-link:hover{
    color: rgb(91, 80, 136);
}



  /* At media styles */
