/* General Body style */
*{
    font-family: 'Roboto', sans-serif;

}

/* Navbar styles */
.topnav {
    overflow: hidden;
    background-color: white;
    margin-top: 20px;
  }

  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  

.topnav a.split {
    float: right;
    background-color: white;
    color: gray;
  }



  /* All Your File in One Place styles */
  .containerSctn1{
    display: flex;
    gap: 1%;
    padding-top: 5%;
   
}
.illus1{
    width: 600px;
    height: 400px;
    padding-right: 23%;
}
h1{
    font-size: 40px;
    padding-top: 8%;
    line-height: 60px;
    padding-left: 20%;
   
}
section p{
    font-size: 18px;
    text-align: justify;
    line-height: 30px;
    padding-inline-end: 5%;
    padding-left: 20%;
    
}
.inp{
    display: flex;
    gap: 2%;
    padding-left: 20%;
}
input{
    height: 45px;
    width: 300px;
    border-radius: 3px;
    border-color: rgb(219, 216, 216);
    border-width: 1px;
    font-size: 16px;
    font-family:'Poppins', sans-serif; 
    padding-left: 5%;
    box-shadow: none;
    overflow: hidden;
    padding-left: 5%;
  
}
ul {
    display: inline;
    margin: 0;
    padding: 0;
  }
  ul li {display: inline-block;}
  ul li:hover {background: rgb(255, 255, 255);}
  ul li:hover ul {display: block;}
  ul li ul {
    position: absolute;
    width: 200px;
    display: none;
  }
  ul li ul li { 
    background: rgb(255, 255, 255); 
    display: block; 
    color: red;
  }

input:hover{
    border-color: red;
    
}
.btn{
    width: 200px;
    background-color:rgb(47,101,249);
    height: 45px;
    border: none;
    color: white;
    text-align: center;
    border-radius: 3px;
}
.btn:hover{
     background-color: rgb(107,155,255) ;
     cursor: pointer;
}

  /* Stay Productive Style */


  /* Testimonial style */


  /* Footer style */
  .footer{
    background-color: #241449;
    color: white;
    padding: 50px 0;
  }

.footer-col1{
    margin-left: 15px; 
}

.footer-logo{
    text-decoration: none;
    color: white;
}
.footer-logo:hover{
    color: white;
  }

.ft-dv{
    margin-bottom: 30px;
}

.ft-col{
    
}

  .footer-img{
    
    margin-right: 10px;
  }

  .footer-h1{
    margin: 0;
    display: inline-block;
    font-size: 50px;
    position: relative;
    top: 10px;
  }

.footer-link{
    text-decoration: none;
    color: white;
    font-size: 10px;
    margin-bottom: 20px;
}
.footer-link:hover{
    color: rgb(91, 80, 136);
}



  /* At media styles */
