/* General Body style */
*{
    font-family: 'Roboto', sans-serif;

}

/* Navbar styles */
.topnav {
    overflow: hidden;
    background-color: white;
    margin-top: 20px;
  }

  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  

.topnav a.split {
    float: right;
    background-color: white;
    color: gray;
  }



  /* All Your File in One Place styles */
  .containerSctn1{
    display: flex;
    flex-direction: row-reverse;
    gap: 1%;
    padding-top: 5%;
   
}
.illus1{
    width: 600px;
    height: 400px;
    padding-right: 24%;
}
.heading{
    font-size: 40px;
    padding-top: 8%;
    line-height: 60px;
    margin-left: 17%;
   
}
.parag{
    font-size: 18px;
    text-align: justify;
    line-height: 30px;
    padding-inline-end: 5%;
    margin-left: 17%;
    
}
.inp{
    display: flex;
    gap: 0.5%;
    margin-left: 17%;
}
.putin{
    height: 45px;
    width: 350px;
    border-radius: 3px;
    border-color: rgb(219, 216, 216);
    border-width: 1px;
    font-size: 16px;
    font-family:'Poppins', sans-serif; 
    /* padding-left: 2%; */
    box-shadow: none;
    overflow: hidden;
    /* padding-left: 2%; */
    text-align: left;
  
}
.ulContainer {
    display: inline;
    margin: 0;
    padding: 0;
  }
  .ulContainer .li- {display: inline-block;}
  /* .ulContainer .li-:hover {background: rgb(248, 248, 248);} */
  .ulContainer .li-:hover ul {display: block;}
  .ulContainer .li- .ul- {
    position: absolute;
    width: 200px;
    display: none;
  }
  .ulContainer .li- .ul- .li-- { 
    background: rgb(255, 255, 255); 
    display: block; 
    color: red;
  }

.putin:hover{
    border-color: red;
    
}
.btn{
    width: 180px;
    background-color:rgb(47,101,249);
    height: 45px;
    border: none;
    color: white;
    text-align: center;
    border-radius: 3px;
}
.btn:hover{
     background-color: rgb(159, 185, 241) ;
     cursor: pointer;
     color: white;
}

  /* Stay Productive Style */
     
  .stayPro{
    margin-top: 100px;
  }

  .stayDiv2{
    background-color: #f8f8fe;
    padding-bottom: 150px;
  }

  .stayLink{
    text-decoration: none;
    color: blue;
    padding-bottom: 5px;
    background: linear-gradient(to left, blue, blue 100%);
    background-position: 0 100%;
    background-size: 100% 2px;
    background-repeat: repeat-x;
  }

  .stayLink:hover{
    text-decoration: none;
    color: rgb(108,156,255);
    background: linear-gradient(to left,rgb(108,156,255),rgb(108,156,255)100%);
    background-position: 0 100%;
    background-size: 100% 2px;
    background-repeat: repeat-x;
  }

  .stayImg1{
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  max-width: 100vw;
  width: 100vw;
  }

  .stayImg2{
    width: 500px;
    height: 400px;
    float: right;
    margin-left: 20px;
  }


  /* Testimonial style */

  /* .testimonial{
    height: 300px;
    width: 500px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
    margin-right: 20px;
  } */

  
.testimonial {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 25px;
  margin-top: 40px;
  width: 450px;
}

.testimonial p {
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1.7;
  width: 400px;
}

.user-info {
  display: flex;
  margin-top: 20px;
}

.user-info img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.user-info h4 {
  margin: 0 auto;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}
@media (min-width:370px) and (max-width:660px) {
  .testimonial {
    width:100%;
    word-spacing: 1px;
  }
  .stayLink{
    background: linear-gradient(to left, rgb(29, 156, 135) , rgb(29, 156, 135));
    background-position: 0 100%;
    background-size: 100% 2px;
    background-repeat: repeat-x;
      margin-left: auto;
      margin-right: auto;
    color: rgb(29, 156, 135);
    font-size: 15px;
    position: relative;
    left:55px
  }
  .testimonial p{
    width: 100%;
    font-size: 10px;
  }
  .user-info img{
    height:30px;
    width: 30px;
  }
  .user-info h4{
    font-size: 10px;
    font-weight: bold;
  }
  small{
    font-size:9px;
    position: relative;
    bottom: 8px;
  }
  .user-info {
    position: relative;
    bottom: 10px;
  }
}

  /* Testimonial style */
  .news{
    height: 35vh;
    width: 100%;
    background-color: rgb(87,89,137);
    display: flex;
  }

  .left{
    flex: 50%;
    display: inline-block;
    padding: 60px 150px 0px 150px;
  }

  .left1{
    font-size: 25px;
    color: #ffff;
  }

  .left2{
    font-size: 13px;
    color: #b8b2b2;
  }

  .right{
    flex: 50%;
    display: inline-block;
    padding: 60px 0px 0px 40px;
  }

  .right1{
    width: 500px;
    height: 35px;
    padding-left: 20px;
    font-size: 12px;
    border-radius: 3px;
    border: none;
  }

  .right2{
    width: 150px;
    height: 35px;
    background-color: rgb(17, 83, 197);
    color: #ffff;
    font-size: 12px;
    border-radius: 4px;
    border: none;
  }

  .right2:hover{
    background-color: rgb(108,156,255);
    cursor: pointer;
  }

  @media screen and (max-width: 900px)
  {
    .news{
      height: 250px;
      width: 100%;
      display:block;
      padding: 30px 60px 0px 30px ;
    }

    .left{
      flex: none;
      padding: 0;
      text-align: center;
    }

    .left1{
      font-size: 18px;
    }
  
    .left2{
      font-size: 14px;
      align-self: center;
    }

    .right{
      flex: none;
      padding: 0;
    }

    .move{      
      text-align: center;
      margin-bottom: 20px;
    }
    
    .right1{
      width: 280px;
      height: 25px;
      padding-left: 10px;
      font-size: 11px;
      color: #8b8888;      
      margin: 0;
    }
  
    .right2{
      width: 280px;
      height: 25px;
      font-size: 12px;
      border-radius: 4px;
      margin: 0;
    }
  
  }

  /* Footer style */
  .footer{
    background-color: #241449;
    color: white;
    padding: 50px 0;
  }

.footer-col1{
    margin-left: 15px; 
}

.footer-logo{
    text-decoration: none;
    color: white;
}
.footer-logo:hover{
    color: white;
  }

.ft-dv{
    margin-bottom: 30px;
}

.footer-img{
    
    margin-right: 10px;
}

  .footer-h1{
    margin: 0;
    display: inline-block;
    font-size: 50px;
    position: relative;
    top: 10px;
  }

.footer-link{
    text-decoration: none;
    color: white;
    font-size: 10px;
    margin-bottom: 20px;
}
.footer-link:hover{
    color: rgb(91, 80, 136);
}



  /* At media styles */
  /* section 1 */
  @media (min-width: 320px) and (max-width: 760px) {
    .containerSctn1{
      display: block;
      gap: 1%;
      padding-top: 5%;
      text-align: center;
     
  }
  .illus1{
      width: 420px;
      height: 250px;
      margin-left: 10%;
      text-align: center;
      /* padding-right: 24%; */
  }
  .heading{
      font-size: 30px;
      padding-top: 8%;
      line-height: 30px;
      margin-left: 4%;
     
  }
  .parag{
      font-size: 16px;
      text-align: center;
      line-height: 15px;
      padding-inline-end: 5%;
      margin-left: 7%;
      margin-right: 4%;
      
  }
  .inp{
      display: block;
      margin-left: 2%;
      line-height:4 ;
      text-align: center;
  }
  .putin{
      height: 45px;
      width: 340px;
      border-radius: 3px;
      border-color: rgb(24, 23, 23);
      border-width: 1px;
      font-size: 16px;
      font-family:'Poppins', sans-serif; 
    
      box-shadow: none;
      overflow: hidden;
     
      text-align: left;
    
  }
  .ulContainer {
      display: inline;
      margin: 0;
      padding: 0;
    }
    .ulContainer .li- {display: inline-block;}
   
    .ulContainer .li-:hover ul {display: block;}
    .ulContainer .li- .ul- {
      position: absolute;
      width: 200px;
      display: none;
    }
    .ulContainer .li- .ul- .li-- { 
     
      display: block; 
      color: red;
    }
  
  .putin:hover{
      border-color: red;
      
  }
  .btn{
      width: 340px;
      background-color:rgb(47,101,249);
      height: 45px;
      border: none;
      color: white;
      text-align: center;
      border-radius: 3px;
  }
  .btn:hover{
       background-color: rgb(159, 185, 241) ;
       cursor: pointer;
       color: white;
  }
  }
  @media (min-width: 700px) and (max-width: 1300px) {
    .containerSctn1{
      display: flex;
      flex-direction: row-reverse;
      gap: 1%;
      padding-top: 5%;
     
  }
  .illus1{
      width: 400px;
      height:400px;
      padding-right: 15%;
  
  }
  .heading{
      font-size: 35px;
      padding-top: 8%;
      line-height: 30px;
      margin-left: 20%;
     
  }
  .parag{
      font-size: 18px;
      text-align: justify;
      line-height: 30px;
      padding-inline-end: 5%;
      margin-left: 20%;
      
  }
  .inp{
      display: flex;
      gap: 0.5%;
      margin-left: 20%;
  }
  .putin{
      height: 45px;
      width: 220px;
      border-radius: 3px;
      border-color: rgb(219, 216, 216);
      border-width: 1px;
      font-size: 16px;
      font-family:'Poppins', sans-serif; 
      box-shadow: none;
      overflow: hidden;
      text-align: left;
    
  }
  .ulContainer {
      display: inline;
      margin: 0;
      padding: 0;
    }
    .ulContainer .li- {display: inline-block;}
    .ulContainer .li-:hover ul {display: block;}
    .ulContainer .li- .ul- {
      position: absolute;
      width: 200px;
      display: none;
    }
    .ulContainer .li- .ul- .li-- { 
      background: rgb(255, 255, 255); 
      display: block; 
      color: red;
    }
  
  .putin:hover{
      border-color: red;
      
  }
  .btn{
      width: 120px;
      background-color:rgb(47,101,249);
      height: 45px;
      border: none;
      color: white;
      text-align: center;
      border-radius: 3px;
  }
  .btn:hover{
       background-color: rgb(159, 185, 241) ;
       cursor: pointer;
       color: white;
  }
  }
